{% extends 'base.html.twig' %}

{% block body %}
    <!-- Main Content -->
    <main class="flex-grow bg-gray-100 py-8">
        <div class="container mx-auto px-4">
            

            <!-- Products Grid -->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
                {% for p in products %}
                <div class="bg-white rounded-lg shadow-md overflow-hidden">
                    <div class="relative group">
                        <img src="{{ asset('uploads/' ~ p.image) }}" 
                             class="w-full h-64 object-cover transition-transform duration-300 group-hover:scale-105" 
                             alt="{{ p.name }}">
                    </div>
                    <div class="p-4">
                        <a href="{{ path('product_detail', {'id': p.id}) }}" 
                           class="text-lg font-medium text-gray-800 hover:text-indigo-600">
                            {{ p.name }}
                        </a>
                        <p class="mt-2 text-xl font-bold text-indigo-600">${{ p.priceExport }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}